.leadstory{
    display: flex;
    overflow: hidden;
    padding: 10px;
    gap: 30px;
   
}

.bighead{
    top: 60%;
    position: absolute;
    width: 390px;
    background-color: red;
    color: white;
 
}

.minihead{
   
    width: 275px;
    margin-top: 0px ;

}
.temp{
    width: 500px;
    border: 1px solid black;
    height: 450px;
    box-sizing: border-box;
}

.imgstyle{
   height: 300px;
}

.center{
    text-align: center;
}